* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #534242;
}

.titulo{
  margin: 4%;
  width: 90%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  background-image: linear-gradient(to right, #502999, #6133a3, #713dad, #8147b8, #9152c2);
  
}



.hola{
width: 100%;
align-items: center;
flex-direction: column;
justify-content:baseline;

}

.titulo {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #d60d40;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
